<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Расписание поездок курьеров в регионы">
    <title>Расписание поездок курьеров в регионы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url('admin_route') }}">Расписание поездок</a></li>
            <li><a href="{{ url('admin_courier') }}">Курьеры</a></li>
            <li><a href="{{ url('admin_region') }}">Регионы</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
              <div class="alert alert-{{ type }} fade in">
                  {{ flash }}
              </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-ru.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script>
        $( function() {
            var days = 0;
            $('.datepicker').datepicker({format: "dd.mm.yyyy"});
            $('.datepicker').change(function(){
                if(days){
                    $(".returnDate").val(moment($(".datepicker").val(), 'DD.MM.YYYY').add(days, 'days').format('DD.MM.YYYY'));
                } else if($('.autocomplete').val()){
                    $.get("/admin/region/search", {term: $('.autocomplete').val()}, function(json){
                        if(json && json.length == 1){
                            days = (json[0]['delivery']);
                            $(".returnDate").val(moment($(".datepicker").val(), 'DD.MM.YYYY').add(days, 'days').format('DD.MM.YYYY'));
                        }
                    }, 'json');
                }
            });
            $('.autocomplete').autocomplete({
                source: "/admin/region/search",
                minLength: 1,
                select: function( event, ui ) {
                    days = ui.item.delivery;
                    if($(".datepicker").val()){
                        $(".returnDate").val(moment($(".datepicker").val(), 'DD.MM.YYYY').add(days, 'days').format('DD.MM.YYYY'));
                    }
                }
            });
        });
    </script>
  </body>
</html>
