{% extends "admin.html.twig" %}

{% block title %}{{ 'region.add'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'region.add'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}